@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
body{
    background-color: darkorange;
    font-family: 'Fredoka One', cursive;
}
.container{
}
.grid-container {
    display: grid;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    background-color: orange;
    padding: 10px;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333333;
}
.grid-item{
    margin: 1px;/* extra */
    height: 12vh;
    min-height: 5vh;
}
/* images
I have problem with https://cdn.icon-icons.com/icons2/582/PNG/128
so I made a copy of the images I have used
*/
.wonder-woman{
    background: #fff url(../imgs/wonder-women_icon-icons.com_55030.png) no-repeat center /contain;
}
.super-man{
    background: #fff url(../imgs/superman_icon-icons.com_55033.png) no-repeat center /contain;
}
.police-man{
    background: #fff url(../imgs/police-man_icon-icons.com_55039.png) no-repeat center /contain;
}
.queen{
    background: #fff url(../imgs/queen_icon-icons.com_55037.png) no-repeat center /contain;
}
.speaker{
    background: #fff url(../imgs/speaker_icon-icons.com_55035.png) no-repeat center /contain;
}
.police-woman{
    background: #fff url(../imgs/police-women_icon-icons.com_55038.png) no-repeat center /contain;
}
.boy{
    background: #fff url(../imgs/boy_icon-icons.com_55048.png) no-repeat center /contain;
}
.assistant{
    background: #fff url(../imgs/asistante_icon-icons.com_55049.png) no-repeat center /contain;
}
.chef{
    background: #fff url(../imgs/chef_icon-icons.com_55046.png) no-repeat center /contain;
}
.doctor{
    background: #fff url(../imgs/doctor_icon-icons.com_55045.png) no-repeat center /contain;
}
.girl{
    background: #fff url(../imgs/girl_icon-icons.com_55043.png) no-repeat center /contain;
}
.worker{
    background: #fff url(../imgs/worker_icon-icons.com_55029.png) no-repeat center /contain;
 }
.woman{
    background: #fff url(../imgs/woman_icon-icons.com_55031.png) no-repeat center /contain;
}
.spy{
    background: #fff url(../imgs/spy_icon-icons.com_55034.png) no-repeat center /contain;
}
.woen{
    background: #fff url(../imgs/woen-2_icon-icons.com_55032.png) no-repeat center /contain;
}
.king{
    background: #fff url(../imgs/king_icon-icons.com_55042.png) no-repeat center /contain;
}
.gentleman{
    background: #fff url(../imgs/gentleman_icon-icons.com_55044.png) no-repeat center /contain;
}

